
{% extends 'base.html' %}

{% block head %}
<title>Store Controller</title>
<script src="/js/myScript.js"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Store Controller</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Store nbr</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.id}}</td>
                <td>
                    <button type="button" onclick="sendCommandToStore({{task.id}},0)">Stop</button>
                    <br>
                    <button type="button" onclick="sendCommandToStore({{task.id}},1)">Up</button>
                    <br>
                    <button type="button" onclick="sendCommandToStore({{task.id}},2)">Down</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>

    <h2>External JavaScript</h2>




    <p id="demo">A Paragraph.</p>

    <button type="button" onclick="sendCommandToStore(1,1)">Try it</button>

    <p>(myFunction is stored in an external file called "myScript.js")</p>

</div>
{% endblock %}